<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <Product Id="{BEDA4860-8948-4189-A3EF-0086675AF472}" 
           Name="Adobe User Sync Tool $(var.UstVer)" 
           Language="1033" 
           Version="1.0.0.0" 
           Manufacturer="Adobe Systems Incorporated" 
           UpgradeCode="252b573f-278f-42d1-a601-ca5374b53c51">
    
    <Package 
      InstallerVersion="200" 
      Compressed="yes" 
      InstallScope="perMachine"/>

    <Media Id='1' Cabinet='data.cab' EmbedCab='yes' CompressionLevel='mszip'/>
    <SetDirectory Id="WINDOWSVOLUME" Value="[WindowsVolume]"/>
    <Property Id="MSIFASTINSTALL" Value="3"/>
    <Property Id="LAUNCHUSTFOLDER" Value="1"/>
    <Property Id="DISABLEROLLBACK" Value="1"/>
    <Property Id="ARPSYSTEMCOMPONENT" Value="1" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
    <Property Id='WixUICostingPopupOptOut' Value='0' />
    <Property Id="ARPNOMODIFY" Value="1" />
    <Property Id="USTVERSION" Value="$(var.UstVer)" />    
    <Property Id="FOOTER" Value="  Adobe Systems Inc. 2019" />    
    <Property Id="PYTHONTEXT" Value="[Not Installed]" />
    <Property Id="SUBJECT_COUNTRY" Value="US" />
    <Property Id="SUBJECT_DATE_TEXT" Value="Not set" />

    <PropertyRef Id="CustomUI" />
    <PropertyRef Id="CustomSequence"/>
    <PropertyRef Id="DirStructure"/>

    <Binary Id="USTCustomActions.CA.dll" SourceFile="..\..\..\dll\USTCustomActions.CA.dll" />
    <Binary Id="vcredist_x64.exe" SourceFile="..\..\..\files\Managed\vcredist_x64.exe" />
    <Binary Id="CertgenHeader" SourceFile="..\..\..\images\certgen-header.bmp" />
    <Binary Id="CalendarIcon" SourceFile="..\..\..\images\calendar-icon.bmp" />
    <Binary Id="Python3.exe" SourceFile="..\..\..\files\Managed\python3.exe" />
    <Binary Id="Python2.msi" SourceFile="..\..\..\files\Managed\python2.msi" />
    <Icon Id="CFGAppIcon" SourceFile="..\..\..\images\configapp-logo.ico"/>
    <Icon Id="EditIcon" SourceFile="..\..\..\images\edit-yaml.ico"/>
    <Icon Id="CertgenIcon" SourceFile="..\..\..\images\certgen.ico"/>
    
    <Feature Id="RequiredResources" Title="Required" Level="1" ConfigurableDirectory='ADOBEPARENT'>
      <Condition Level="0">CERTONLY</Condition>
      <ComponentGroupRef Id="required_resources" />
      <ComponentRef Id="Permissions"/>
      <ComponentRef Id="SetPexRoot" />
      <ComponentRef Id="PexFolder" />
      <ComponentRef Id="RemoveExisting" />
      <ComponentRef Id="AddShortcuts" />
      <ComponentRef Id="UST27"/>
      <ComponentRef Id="UST36"/>
    </Feature>

    <DirectoryRef Id="INSTALLDIR">
      <Component Id="UST27" Guid="{7D103973-1617-453C-A163-91D6C727B557}" Win64="yes">
        <File Id="UST27" Name="user-sync.pex" KeyPath="yes" Source="files\Managed\user-sync-py2.pex" />
        <Condition>USEPYTHON2</Condition>
      </Component>
      <Component Id="UST36" Guid="{8F672C9A-A389-4025-8AD5-67BBDF55B159}" Win64="yes">
        <File Id="UST36" Name="user-sync.pex" KeyPath="yes" Source="files\Managed\user-sync-py3.pex" />
        <Condition>NOT USEPYTHON2</Condition>
      </Component>
    </DirectoryRef>

  </Product> 

</Wix>
