<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright (c) .NET Foundation and contributors. All rights reserved. Licensed under the Microsoft Reciprocal License. See LICENSE.TXT file in the project root for full license information. -->


<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <UI>
            <Dialog Id="UST_InstallDirDlg" Width="370" Height="270" Title="!(loc.InstallDirDlg_Title)">
                <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="!(loc.WixUINext)" />
                <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="!(loc.WixUIBack)" />
                <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="!(loc.WixUICancel)">
                    <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
                </Control>

                <Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="15" Transparent="yes" NoPrefix="yes" Text="!(loc.InstallDirDlgDescription)" />
                <Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes" Text="!(loc.InstallDirDlgTitle)" />
                <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="!(loc.InstallDirDlgBannerBitmap)" />
                <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="2" />
                <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="2" />
                <Control Id="FolderLabel" Type="Text" X="20" Y="50" Width="290" Height="20" NoPrefix="yes" Text="!(loc.InstallDirDlgFolderLabel)" />
                <Control Id="Folder" Type="PathEdit" X="20" Y="70" Width="320" Height="15" Property="WIXUI_INSTALLDIR" Indirect="yes" />
                <Control Id="ChangeFolder" Type="PushButton" X="20" Y="95" Width="56" Height="17" Text="!(loc.InstallDirDlgChange)" />
                <Control Id="InstPythonCheckBox" Type="CheckBox" X="20" Y="118" Width="330" Height="18" CheckBoxValue="1" Property="INSTALLPYTHON" Text="Install Python - currently installed versions: [PYTHONTEXT]">
                  <Condition Action="disable">CERTONLY</Condition>
                  <Condition Action="enable">NOT CERTONLY</Condition>
                </Control>
             
                <Control Id="Python2CheckBox" Type="CheckBox" X="20" Y="136" Width="330" Height="18" CheckBoxValue="1" Property="USEPYTHON2" Text="Compatability Mode (Python 2)">
                  <Condition Action="disable">CERTONLY</Condition>
                  <Condition Action="enable">NOT CERTONLY</Condition>
                </Control>
                <Control Id="CompModeDescText" Type="Text" X="20" Y="154" Width="330" Height="22" NoPrefix="yes" Text="Uses Python 2 instead of 3.  Try this if Python 3 fails to install due to missing windows updates (typically needed on 2008R2 or or very old verions of 2012R2)">
                  <Condition Action="disable">NOT USEPYTHON2 OR CERTONLY</Condition>
                  <Condition Action="enable">NOT CERTONLY AND USEPYTHON2</Condition>
                </Control>

              <!--<Control Id="CertGenCheckBox" Type="CheckBox" X="20" Y="174" Width="330" Height="18" CheckBoxValue="1" Property="CERTONLY" Text="Regenerate UMAPI cert/key pair ONLY (nothing will be installed)" />-->
              <Control Id="FooterText" Type="Text" X="18" Y="230" Width="100" Height="18" Disabled="yes" NoPrefix="yes" Text="[FOOTER]" />

            </Dialog>
        </UI>
    </Fragment>
</Wix>
