<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright (c) .NET Foundation and contributors. All rights reserved. Licensed under the Microsoft Reciprocal License. See LICENSE.TXT file in the project root for full license information. -->


<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <UI>
            <Dialog Id="UST_CertgenDlg" Width="370" Height="270" Title="!(loc.InstallDirDlg_Title)">
              <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="!(loc.WixUINext)" />
              <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="!(loc.WixUIBack)" />
              <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="!(loc.WixUICancel)">
                <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
              </Control>
              <!--<Control Id="FooterText" Type="Text" X="18" Y="230" Width="100" Height="18" Disabled="yes" NoPrefix="yes" Text="[FOOTER]" />-->
              <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="CertgenHeader" />
              <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="2" />
              <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="2" />
              <Control Id="CertDesc" Type="Text" X="24" Y="53" Width="320" Height="45" Transparent="yes" NoPrefix="yes" Text="!(loc.CertgenDescription)" />
              <Control Id="NameLabel" Type="Text" X="26" Y="101" Width="88" Height="10" Transparent="yes" NoPrefix="yes" Text="Name" >
                <Condition Action="disable">SKIPCERTGEN</Condition>
                <Condition Action="enable">NOT SKIPCERTGEN</Condition>
              </Control>
              <Control Id="NameEdit" Type="Edit" X="24" Y="116" Width="95" Height="18" Property="SUBJECT_NAME" />
              <Control Id="EmailLabel" Type="Text" X="140" Y="101" Width="88" Height="10" Transparent="yes" NoPrefix="yes" Text="Email" >
                <Condition Action="disable">SKIPCERTGEN</Condition>
                <Condition Action="enable">NOT SKIPCERTGEN</Condition>
              </Control>
              <Control Id="EmailEdit" Type="Edit" X="138" Y="116" Width="95" Height="18" Property="SUBJECT_EMAIL" >
                <Condition Action="disable">SKIPCERTGEN</Condition>
                <Condition Action="enable">NOT SKIPCERTGEN</Condition>
              </Control>
              <Control Id="OrgLabel" Type="Text" X="26" Y="146" Width="142" Height="10" Transparent="yes" NoPrefix="yes" Text="Organization" >
                <Condition Action="disable">SKIPCERTGEN</Condition>
                <Condition Action="enable">NOT SKIPCERTGEN</Condition>
              </Control>
              <Control Id="OrgEdit" Type="Edit" X="24" Y="159" Width="151" Height="18" Property="SUBJECT_ORG" >
                <Condition Action="disable">SKIPCERTGEN</Condition>
                <Condition Action="enable">NOT SKIPCERTGEN</Condition>
              </Control>
              <Control Id="DepartmentLabel" Type="Text" X="196" Y="146" Width="142" Height="10" Transparent="yes" NoPrefix="yes" Text="Department" >
                <Condition Action="disable">SKIPCERTGEN</Condition>
                <Condition Action="enable">NOT SKIPCERTGEN</Condition>
              </Control>
              <Control Id="DepartmentEdit" Type="Edit" X="195" Y="159" Width="151" Height="18" Property="SUBJECT_DEPARTMENT" >
                <Condition Action="disable">SKIPCERTGEN</Condition>
                <Condition Action="enable">NOT SKIPCERTGEN</Condition>
              </Control>
              <Control Id="CityLabel" Type="Text" X="26" Y="189" Width="88" Height="10" Transparent="yes" NoPrefix="yes" Text="City" >
                <Condition Action="disable">SKIPCERTGEN</Condition>
                <Condition Action="enable">NOT SKIPCERTGEN</Condition>
              </Control>
              <Control Id="CityEdit" Type="Edit" X="24" Y="203" Width="75" Height="18" Property="SUBJECT_CITY" />
              <Control Id="StateLabel" Type="Text" X="112" Y="189" Width="64" Height="10" Transparent="yes" NoPrefix="yes" Text="State" >
                <Condition Action="disable">SKIPCERTGEN</Condition>
                <Condition Action="enable">NOT SKIPCERTGEN</Condition>
              </Control>
              <Control Id="StateEdit" Type="Edit" X="110" Y="203" Width="75" Height="18" Property="SUBJECT_STATE" >
                <Condition Action="disable">SKIPCERTGEN</Condition>
                <Condition Action="enable">NOT SKIPCERTGEN</Condition>
              </Control>
              <Control Id="CountryLabel" Type="Text" Height="10" Width="144" X="196" Y="189" Text="Country" >
                <Condition Action="disable">SKIPCERTGEN</Condition>
                <Condition Action="enable">NOT SKIPCERTGEN</Condition>
              </Control>
              <Control Id="CountryEdit" Type="ComboBox" ComboList="yes" Height="16" Width="151" X="195" Y="203" Property="SUBJECT_COUNTRY" Text="SUBJECT_COUNTRY">
                <ComboBox Property="SUBJECT_COUNTRY">
                  <ListItem Value="AF" Text="Afghanistan (AF)" />
                  <ListItem Value="AX" Text="Aland Islands (AX)" />
                  <ListItem Value="AL" Text="Albania (AL)" />
                  <ListItem Value="DZ" Text="Algeria (DZ)" />
                  <ListItem Value="AS" Text="American Samoa (AS)" />
                  <ListItem Value="AD" Text="Andorra (AD)" />
                  <ListItem Value="AO" Text="Angola (AO)" />
                  <ListItem Value="AI" Text="Anguilla (AI)" />
                  <ListItem Value="AQ" Text="Antarctica (AQ)" />
                  <ListItem Value="AG" Text="Antigua and Barbuda (AG)" />
                  <ListItem Value="AR" Text="Argentina (AR)" />
                  <ListItem Value="AM" Text="Armenia (AM)" />
                  <ListItem Value="AW" Text="Aruba (AW)" />
                  <ListItem Value="AU" Text="Australia (AU)" />
                  <ListItem Value="AT" Text="Austria (AT)" />
                  <ListItem Value="AZ" Text="Azerbaijan (AZ)" />
                  <ListItem Value="BS" Text="Bahamas (BS)" />
                  <ListItem Value="BH" Text="Bahrain (BH)" />
                  <ListItem Value="BD" Text="Bangladesh (BD)" />
                  <ListItem Value="BB" Text="Barbados (BB)" />
                  <ListItem Value="BY" Text="Belarus (BY)" />
                  <ListItem Value="BE" Text="Belgium (BE)" />
                  <ListItem Value="BZ" Text="Belize (BZ)" />
                  <ListItem Value="BJ" Text="Benin (BJ)" />
                  <ListItem Value="BM" Text="Bermuda (BM)" />
                  <ListItem Value="BT" Text="Bhutan (BT)" />
                  <ListItem Value="BO" Text="Bolivia (BO)" />
                  <ListItem Value="BA" Text="Bosnia and Herzegovina (BA)" />
                  <ListItem Value="BW" Text="Botswana (BW)" />
                  <ListItem Value="BV" Text="Bouvet Island (BV)" />
                  <ListItem Value="BR" Text="Brazil (BR)" />
                  <ListItem Value="VG" Text="British Virgin Islands (VG)" />
                  <ListItem Value="IO" Text="British Indian Ocean Territory (IO)" />
                  <ListItem Value="BN" Text="Brunei Darussalam (BN)" />
                  <ListItem Value="BG" Text="Bulgaria (BG)" />
                  <ListItem Value="BF" Text="Burkina Faso (BF)" />
                  <ListItem Value="BI" Text="Burundi (BI)" />
                  <ListItem Value="KH" Text="Cambodia (KH)" />
                  <ListItem Value="CM" Text="Cameroon (CM)" />
                  <ListItem Value="CA" Text="Canada (CA)" />
                  <ListItem Value="CV" Text="Cape Verde (CV)" />
                  <ListItem Value="KY" Text="Cayman Islands (KY)" />
                  <ListItem Value="CF" Text="Central African Republic (CF)" />
                  <ListItem Value="TD" Text="Chad (TD)" />
                  <ListItem Value="CL" Text="Chile (CL)" />
                  <ListItem Value="CN" Text="China (CN)" />
                  <ListItem Value="HK" Text="Hong Kong, SAR China (HK)" />
                  <ListItem Value="MO" Text="Macao, SAR China (MO)" />
                  <ListItem Value="CX" Text="Christmas Island (CX)" />
                  <ListItem Value="CC" Text="Cocos (Keeling) Islands (CC)" />
                  <ListItem Value="CO" Text="Colombia (CO)" />
                  <ListItem Value="KM" Text="Comoros (KM)" />
                  <ListItem Value="CG" Text="Congo (Brazzaville) (CG)" />
                  <ListItem Value="CD" Text="Congo, (Kinshasa) (CD)" />
                  <ListItem Value="CK" Text="Cook Islands (CK)" />
                  <ListItem Value="CR" Text="Costa Rica (CR)" />
                  <ListItem Value="CI" Text="Côte d'Ivoire (CI)" />
                  <ListItem Value="HR" Text="Croatia (HR)" />
                  <ListItem Value="CU" Text="Cuba (CU)" />
                  <ListItem Value="CY" Text="Cyprus (CY)" />
                  <ListItem Value="CZ" Text="Czech Republic (CZ)" />
                  <ListItem Value="DK" Text="Denmark (DK)" />
                  <ListItem Value="DJ" Text="Djibouti (DJ)" />
                  <ListItem Value="DM" Text="Dominica (DM)" />
                  <ListItem Value="DO" Text="Dominican Republic (DO)" />
                  <ListItem Value="EC" Text="Ecuador (EC)" />
                  <ListItem Value="EG" Text="Egypt (EG)" />
                  <ListItem Value="SV" Text="El Salvador (SV)" />
                  <ListItem Value="GQ" Text="Equatorial Guinea (GQ)" />
                  <ListItem Value="ER" Text="Eritrea (ER)" />
                  <ListItem Value="EE" Text="Estonia (EE)" />
                  <ListItem Value="ET" Text="Ethiopia (ET)" />
                  <ListItem Value="FK" Text="Falkland Islands (Malvinas) (FK)" />
                  <ListItem Value="FO" Text="Faroe Islands (FO)" />
                  <ListItem Value="FJ" Text="Fiji (FJ)" />
                  <ListItem Value="FI" Text="Finland (FI)" />
                  <ListItem Value="FR" Text="France (FR)" />
                  <ListItem Value="GF" Text="French Guiana (GF)" />
                  <ListItem Value="PF" Text="French Polynesia (PF)" />
                  <ListItem Value="TF" Text="French Southern Territories (TF)" />
                  <ListItem Value="GA" Text="Gabon (GA)" />
                  <ListItem Value="GM" Text="Gambia (GM)" />
                  <ListItem Value="GE" Text="Georgia (GE)" />
                  <ListItem Value="DE" Text="Germany (DE)" />
                  <ListItem Value="GH" Text="Ghana (GH)" />
                  <ListItem Value="GI" Text="Gibraltar (GI)" />
                  <ListItem Value="GR" Text="Greece (GR)" />
                  <ListItem Value="GL" Text="Greenland (GL)" />
                  <ListItem Value="GD" Text="Grenada (GD)" />
                  <ListItem Value="GP" Text="Guadeloupe (GP)" />
                  <ListItem Value="GU" Text="Guam (GU)" />
                  <ListItem Value="GT" Text="Guatemala (GT)" />
                  <ListItem Value="GG" Text="Guernsey (GG)" />
                  <ListItem Value="GN" Text="Guinea (GN)" />
                  <ListItem Value="GW" Text="Guinea-Bissau (GW)" />
                  <ListItem Value="GY" Text="Guyana (GY)" />
                  <ListItem Value="HT" Text="Haiti (HT)" />
                  <ListItem Value="HM" Text="Heard and Mcdonald Islands (HM)" />
                  <ListItem Value="VA" Text="Holy See (Vatican City State) (VA)" />
                  <ListItem Value="HN" Text="Honduras (HN)" />
                  <ListItem Value="HU" Text="Hungary (HU)" />
                  <ListItem Value="IS" Text="Iceland (IS)" />
                  <ListItem Value="IN" Text="India (IN)" />
                  <ListItem Value="ID" Text="Indonesia (ID)" />
                  <ListItem Value="IR" Text="Iran, Islamic Republic of (IR)" />
                  <ListItem Value="IQ" Text="Iraq (IQ)" />
                  <ListItem Value="IE" Text="Ireland (IE)" />
                  <ListItem Value="IM" Text="Isle of Man (IM)" />
                  <ListItem Value="IL" Text="Israel (IL)" />
                  <ListItem Value="IT" Text="Italy (IT)" />
                  <ListItem Value="JM" Text="Jamaica (JM)" />
                  <ListItem Value="JP" Text="Japan (JP)" />
                  <ListItem Value="JE" Text="Jersey (JE)" />
                  <ListItem Value="JO" Text="Jordan (JO)" />
                  <ListItem Value="KZ" Text="Kazakhstan (KZ)" />
                  <ListItem Value="KE" Text="Kenya (KE)" />
                  <ListItem Value="KI" Text="Kiribati (KI)" />
                  <ListItem Value="KP" Text="Korea (North) (KP)" />
                  <ListItem Value="KR" Text="Korea (South) (KR)" />
                  <ListItem Value="KW" Text="Kuwait (KW)" />
                  <ListItem Value="KG" Text="Kyrgyzstan (KG)" />
                  <ListItem Value="LA" Text="Lao PDR (LA)" />
                  <ListItem Value="LV" Text="Latvia (LV)" />
                  <ListItem Value="LB" Text="Lebanon (LB)" />
                  <ListItem Value="LS" Text="Lesotho (LS)" />
                  <ListItem Value="LR" Text="Liberia (LR)" />
                  <ListItem Value="LY" Text="Libya (LY)" />
                  <ListItem Value="LI" Text="Liechtenstein (LI)" />
                  <ListItem Value="LT" Text="Lithuania (LT)" />
                  <ListItem Value="LU" Text="Luxembourg (LU)" />
                  <ListItem Value="MK" Text="Macedonia, Republic of (MK)" />
                  <ListItem Value="MG" Text="Madagascar (MG)" />
                  <ListItem Value="MW" Text="Malawi (MW)" />
                  <ListItem Value="MY" Text="Malaysia (MY)" />
                  <ListItem Value="MV" Text="Maldives (MV)" />
                  <ListItem Value="ML" Text="Mali (ML)" />
                  <ListItem Value="MT" Text="Malta (MT)" />
                  <ListItem Value="MH" Text="Marshall Islands (MH)" />
                  <ListItem Value="MQ" Text="Martinique (MQ)" />
                  <ListItem Value="MR" Text="Mauritania (MR)" />
                  <ListItem Value="MU" Text="Mauritius (MU)" />
                  <ListItem Value="YT" Text="Mayotte (YT)" />
                  <ListItem Value="MX" Text="Mexico (MX)" />
                  <ListItem Value="FM" Text="Micronesia, Federated States of (FM)" />
                  <ListItem Value="MD" Text="Moldova (MD)" />
                  <ListItem Value="MC" Text="Monaco (MC)" />
                  <ListItem Value="MN" Text="Mongolia (MN)" />
                  <ListItem Value="ME" Text="Montenegro (ME)" />
                  <ListItem Value="MS" Text="Montserrat (MS)" />
                  <ListItem Value="MA" Text="Morocco (MA)" />
                  <ListItem Value="MZ" Text="Mozambique (MZ)" />
                  <ListItem Value="MM" Text="Myanmar (MM)" />
                  <ListItem Value="NA" Text="Namibia (NA)" />
                  <ListItem Value="NR" Text="Nauru (NR)" />
                  <ListItem Value="NP" Text="Nepal (NP)" />
                  <ListItem Value="NL" Text="Netherlands (NL)" />
                  <ListItem Value="AN" Text="Netherlands Antilles (AN)" />
                  <ListItem Value="NC" Text="New Caledonia (NC)" />
                  <ListItem Value="NZ" Text="New Zealand (NZ)" />
                  <ListItem Value="NI" Text="Nicaragua (NI)" />
                  <ListItem Value="NE" Text="Niger (NE)" />
                  <ListItem Value="NG" Text="Nigeria (NG)" />
                  <ListItem Value="NU" Text="Niue (NU)" />
                  <ListItem Value="NF" Text="Norfolk Island (NF)" />
                  <ListItem Value="MP" Text="Northern Mariana Islands (MP)" />
                  <ListItem Value="NO" Text="Norway (NO)" />
                  <ListItem Value="OM" Text="Oman (OM)" />
                  <ListItem Value="PK" Text="Pakistan (PK)" />
                  <ListItem Value="PW" Text="Palau (PW)" />
                  <ListItem Value="PS" Text="Palestinian Territory (PS)" />
                  <ListItem Value="PA" Text="Panama (PA)" />
                  <ListItem Value="PG" Text="Papua New Guinea (PG)" />
                  <ListItem Value="PY" Text="Paraguay (PY)" />
                  <ListItem Value="PE" Text="Peru (PE)" />
                  <ListItem Value="PH" Text="Philippines (PH)" />
                  <ListItem Value="PN" Text="Pitcairn (PN)" />
                  <ListItem Value="PL" Text="Poland (PL)" />
                  <ListItem Value="PT" Text="Portugal (PT)" />
                  <ListItem Value="PR" Text="Puerto Rico (PR)" />
                  <ListItem Value="QA" Text="Qatar (QA)" />
                  <ListItem Value="RE" Text="Réunion (RE)" />
                  <ListItem Value="RO" Text="Romania (RO)" />
                  <ListItem Value="RU" Text="Russian Federation (RU)" />
                  <ListItem Value="RW" Text="Rwanda (RW)" />
                  <ListItem Value="BL" Text="Saint-Barthélemy (BL)" />
                  <ListItem Value="SH" Text="Saint Helena (SH)" />
                  <ListItem Value="KN" Text="Saint Kitts and Nevis (KN)" />
                  <ListItem Value="LC" Text="Saint Lucia (LC)" />
                  <ListItem Value="MF" Text="Saint-Martin (French part) (MF)" />
                  <ListItem Value="PM" Text="Saint Pierre and Miquelon (PM)" />
                  <ListItem Value="VC" Text="Saint Vincent and Grenadines (VC)" />
                  <ListItem Value="WS" Text="Samoa (WS)" />
                  <ListItem Value="SM" Text="San Marino (SM)" />
                  <ListItem Value="ST" Text="Sao Tome and Principe (ST)" />
                  <ListItem Value="SA" Text="Saudi Arabia (SA)" />
                  <ListItem Value="SN" Text="Senegal (SN)" />
                  <ListItem Value="RS" Text="Serbia (RS)" />
                  <ListItem Value="SC" Text="Seychelles (SC)" />
                  <ListItem Value="SL" Text="Sierra Leone (SL)" />
                  <ListItem Value="SG" Text="Singapore (SG)" />
                  <ListItem Value="SK" Text="Slovakia (SK)" />
                  <ListItem Value="SI" Text="Slovenia (SI)" />
                  <ListItem Value="SB" Text="Solomon Islands (SB)" />
                  <ListItem Value="SO" Text="Somalia (SO)" />
                  <ListItem Value="ZA" Text="South Africa (ZA)" />
                  <ListItem Value="GS" Text="South Georgia and the South Sandwich Islands (GS)" />
                  <ListItem Value="SS" Text="South Sudan (SS)" />
                  <ListItem Value="ES" Text="Spain (ES)" />
                  <ListItem Value="LK" Text="Sri Lanka (LK)" />
                  <ListItem Value="SD" Text="Sudan (SD)" />
                  <ListItem Value="SR" Text="Suriname (SR)" />
                  <ListItem Value="SJ" Text="Svalbard and Jan Mayen Islands (SJ)" />
                  <ListItem Value="SZ" Text="Swaziland (SZ)" />
                  <ListItem Value="SE" Text="Sweden (SE)" />
                  <ListItem Value="CH" Text="Switzerland (CH)" />
                  <ListItem Value="SY" Text="Syrian Arab Republic (Syria) (SY)" />
                  <ListItem Value="TW" Text="Taiwan, Republic of China (TW)" />
                  <ListItem Value="TJ" Text="Tajikistan (TJ)" />
                  <ListItem Value="TZ" Text="Tanzania, United Republic of (TZ)" />
                  <ListItem Value="TH" Text="Thailand (TH)" />
                  <ListItem Value="TL" Text="Timor-Leste (TL)" />
                  <ListItem Value="TG" Text="Togo (TG)" />
                  <ListItem Value="TK" Text="Tokelau (TK)" />
                  <ListItem Value="TO" Text="Tonga (TO)" />
                  <ListItem Value="TT" Text="Trinidad and Tobago (TT)" />
                  <ListItem Value="TN" Text="Tunisia (TN)" />
                  <ListItem Value="TR" Text="Turkey (TR)" />
                  <ListItem Value="TM" Text="Turkmenistan (TM)" />
                  <ListItem Value="TC" Text="Turks and Caicos Islands (TC)" />
                  <ListItem Value="TV" Text="Tuvalu (TV)" />
                  <ListItem Value="UG" Text="Uganda (UG)" />
                  <ListItem Value="UA" Text="Ukraine (UA)" />
                  <ListItem Value="AE" Text="United Arab Emirates (AE)" />
                  <ListItem Value="GB" Text="United Kingdom (GB)" />
                  <ListItem Value="US" Text="United States of America (US)" />
                  <ListItem Value="UM" Text="US Minor Outlying Islands (UM)" />
                  <ListItem Value="UY" Text="Uruguay (UY)" />
                  <ListItem Value="UZ" Text="Uzbekistan (UZ)" />
                  <ListItem Value="VU" Text="Vanuatu (VU)" />
                  <ListItem Value="VE" Text="Venezuela (Bolivarian Republic) (VE)" />
                  <ListItem Value="VN" Text="Viet Nam (VN)" />
                  <ListItem Value="VI" Text="Virgin Islands, US (VI)" />
                  <ListItem Value="WF" Text="Wallis and Futuna Islands (WF)" />
                  <ListItem Value="EH" Text="Western Sahara (EH)" />
                  <ListItem Value="YE" Text="Yemen (YE)" />
                  <ListItem Value="ZM" Text="Zambia (ZM)" />
                  <ListItem Value="ZW" Text="Zimbabwe (ZW)" />
                </ComboBox>
                <Condition Action="disable">SKIPCERTGEN</Condition>
                <Condition Action="enable">NOT SKIPCERTGEN</Condition>
              </Control>
              <Control Id="ExpDateLabel" Type="Text" Height="10" Width="88" X="251" Y="101" Text="Exipiration Date" >
                <Condition Action="disable">SKIPCERTGEN</Condition>
                <Condition Action="enable">NOT SKIPCERTGEN</Condition>
              </Control>
              <Control Id="ExpDateEdit" Type="Edit" Height="18" Width="69" X="251" Y="116" Disabled="yes" Property="SUBJECT_DATE_TEXT" Text="[SUBJECT_DATE_TEXT]" >
                <Condition Action="disable">SKIPCERTGEN</Condition>
                <Condition Action="enable">NOT SKIPCERTGEN</Condition>
              </Control>
              <Control Id="Calendar" Type="PushButton" X="327" Y="113" Width="19" Height="19" Bitmap="yes" Text="CalendarIcon">
                <Publish Event="DoAction" Value="LaunchCalendar" Order="1">1</Publish>
                <Publish Property="SUBJECT_DATE_TEXT" Value="[SUBJECT_DATE_TEXT]" Order="2">1</Publish>
                <Condition Action="disable">SKIPCERTGEN</Condition>
                <Condition Action="enable">NOT SKIPCERTGEN</Condition>
              </Control>

              <Control Id="NoCertCheck" Type="CheckBox" Height="18" Width="140" X="23" Y="243" CheckBoxValue="1" Property="SKIPCERTGEN" Text="Don't generate a self signed cert" />             

            </Dialog>
        </UI>
    </Fragment>
</Wix>
