<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <Fragment>
    <CustomAction Id="GenerateSSLCert"
                  Return="check"
                  Execute="immediate"
                  BinaryKey="USTCustomActions.CA.dll"
                  DllEntry="SslCertGen">
    </CustomAction>

    <Property Id="WixShellExecTarget" Value="[#Adobe.UST.Configuration.App.exe]" />
    <CustomAction Id="LaunchUST"
                  BinaryKey="WixCA"
                  DllEntry="WixShellExec"
                  Impersonate="yes">
    </CustomAction>
    
    <CustomAction Id="LaunchIO"
                  Directory="INSTALLDIR"
                  Execute="immediate"
                  ExeCommand="&quot;[ProgramFilesFolder]Internet Explorer\iexplore.exe&quot; https://console.adobe.io"
                  Return="asyncNoWait">
    </CustomAction>

    <CustomAction Id="LaunchUSTWindow"
                  Return="asyncWait"
                  Execute="immediate"
                  BinaryKey="USTCustomActions.CA.dll"
                  DllEntry="OpenUSTFolder">
    </CustomAction>

    <CustomAction Id="CheckPythonVersion"
                  Return="check"
                  Execute="immediate"
                  BinaryKey="USTCustomActions.CA.dll"
                  DllEntry="CheckPythonVersion">
    </CustomAction>

    <CustomAction Id="InstallVcRedist"
                  Return="check"
                  Execute="immediate"
                  BinaryKey="USTCustomActions.CA.dll"
                  DllEntry="InstallVcRedist">
    </CustomAction>

    <CustomAction Id="LaunchCalendar"
                  Return="check"
                  Execute="immediate"
                  BinaryKey="USTCustomActions.CA.dll"
                  DllEntry="LaunchCalendar">
    </CustomAction>

    <CustomAction Id="GetCalendarStart"
                  Return="check"
                  Execute="immediate"
                  BinaryKey="USTCustomActions.CA.dll"
                  DllEntry="GetCalendarStart">
    </CustomAction>
    
    <CustomAction Id="InstallPython36"
                  Return="check"
                  Execute="immediate"
                  BinaryKey="Python3.exe"
                  Impersonate="no"
                  ExeCommand="/passive InstallAllUsers=1 PrependPath=1">
    </CustomAction>
    
    <CustomAction Id="InstallPython27"
                  Return="check"
                  Execute="immediate"
                  BinaryKey="USTCustomActions.CA.dll"
                  DllEntry="InstallPython27Offline">
    </CustomAction>

    <CustomAction Id="SetLongPaths"
              Impersonate="no"
              Return="check"
              Execute="deferred"
              BinaryKey="USTCustomActions.CA.dll"
              DllEntry="SetLongPaths">
    </CustomAction>
    
  </Fragment>
  
</Wix>
