<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">


  <Fragment>
    <Property Id="DirStructure" Hidden="yes"/>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="WINDOWSVOLUME">
        <Directory Id="PEXFOLDER" Name="pex" />
      </Directory>
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="ADOBEPARENT" Name="Adobe">
          <Directory Id="INSTALLDIR" Name="Adobe User Sync Tool" />
        </Directory>
      </Directory>
    </Directory>

    <DirectoryRef Id="PEXFOLDER">
      <Component Id="PexFolder" Guid="{CFF272B3-437D-4F0F-8CA7-D8D9F58B62AD}">
        <CreateFolder>
          <util:PermissionEx User="Users" GenericAll="yes"/>
          <util:PermissionEx User="Administrators" GenericAll="yes"/>
        </CreateFolder>
      </Component>
    </DirectoryRef>
    
    <DirectoryRef Id="INSTALLDIR">
      <Component Id="Permissions" Guid="{DAB52E6B-BEFB-4966-81E2-012462BE3710}">
        <CreateFolder>
          <util:PermissionEx User="Users" GenericAll="yes"/>
          <util:PermissionEx User="Administrators" GenericAll="yes"/>
        </CreateFolder>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="TARGETDIR">
      <Component Id="SetPexRoot" Guid="{582C6C14-76A5-4582-A2FB-244CA2BB736A}">
        <Environment Id="PEX_ROOT" Name="PEX_ROOT" Value="[WindowsVolume]pex" Permanent="yes" Part="all" Action="set" System="yes" />
      </Component>
    </DirectoryRef>

    <!--<DirectoryRef Id="TARGETDIR">
      <Component Id="RemoveExisting" Guid="{EED5A8F7-A9EF-414F-BD14-A5557A29CD62}">
        <util:RemoveFolderEx On="install" Property="INSTALLDIR" />
      </Component>
    </DirectoryRef>-->

    <DirectoryRef Id="INSTALLDIR">
      <Component Id="AddShortcuts" Guid="{6EDE3070-F3FB-4FAC-9615-8CB40536E9A0}">
        <CreateFolder />
        <Shortcut Id="EditYamlShortcut"
                  Name="Edit YAML"
                  Icon="EditIcon"
                  Target="[INSTALLDIR]\Utils\Notepad++\notepad++.exe"
                  Arguments="*.yml">          
        </Shortcut>
        <Shortcut Id="ConfigAppShortcut"
                  Name="Configure UST"
                  Icon="CFGAppIcon"
                  Target="[INSTALLDIR]\Utils\Adobe.UST.Configuration.App.exe">
        </Shortcut>
        <Shortcut Id="CertgenShortcut"
          Name="Adobe.IO Certgen"
          Icon="CertgenIcon"
          Target="[INSTALLDIR]\Utils\Certgen\AdobeIOCertgen.exe">
        </Shortcut>
      </Component>
    </DirectoryRef>

    
  </Fragment>
  
  
</Wix>
